.productList {
  padding: 0.75rem;
  min-height: calc(100vh - 109px - 107px);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
  }
}
