footer.container {
  border-top: 1px solid rgb(242, 242, 242);
  background-color: #fff;
}

.footer {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.1rem;
  color: rgba($color: #000000, $alpha: 0.8);
  @media (min-width: 425px) {
    font-size: 1.3rem;
  }
}

.copy {
  width: max-content;
  padding: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: teal;
    display: block;
  }
  h4 {
    margin: 1rem 0;
  }
}

.mikasa {
  width: max-content;
  padding: 0.875rem;
  display: flex;
  align-items: center;
  order: -1;
  h4 {
    margin: 1rem 0;
  }
  img {
    margin: 0;
    margin-left: 1rem;
    flex-basis: 50px;
    display: block;
    width: 50px;
  }
}
